<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8"/>
    <meta name="">
	<title>Portafolio</title>
</head>
<body>
<header>
    <h3>FREELANCE PORTFOLIO </h3>
    <nav align="right">
        <a href = "#portfolio" >PORTFOLIO </a>
        <a href ="#about" >ABOUT </a>
        <a href ="#contact" >CONTACT </a>
    </nav>
</header>
<main>
    <section class="banner" id = "portfolio">
        <img src="/images/profile.png" alt="imagen de perfil" />
        <h1 align="center">FREELANCE PORTFOLIO</h1>
        <p align="center">estrella</p>
        <p align="center">Web Developer - Graphic Artist - User Experience Designer</p>
    </section>
    <section class="portfolio">
        <h2 align ="center">PORTFOLIO</h2>
        <p align="center">estrella</p>
        <article>
            <img src="/images/cabin.png" alt="cabina"/>
        </article>
        <article>
            <img src="/images/cake.png" alt="torta"/>
        </article>
        <article>
            <img src="/images/circus.png" alt="circo"/>
        </article>
        <article>
            <img src="/images/game.png" alt="juego"/>
        </article>
        <article>
            <img src="/images/safe.png" alt="guardado"/>
        </article>
        <article>
            <img src="/images/submarine.png" alt="submarino"/>
        </article>
    </section>
    <section class="about" id="about">
        <h2 align ="center">ABOUT</h2>
        <p align="center">estrella</p>
        <p align="left">Freelancer is a freelanding pagetheme <br>
            created for free use.The download <br>
            includes the complete source files <br>
            including HTML,CSS,and JavaScript as <br>
            well as optional SASS stylesheets for <br>
            easy customization.
        </p>
        <p align="right">Wheter you're a student looking to <br>
            showcase your work,a professional <br>
            looking to attract clients,or a Graphic <br>
            artist looking to share your projects,this <br>
            template is the perfect starting point!
        </p>
        <input  type="submit" value = "Download Now!" >
    </section>
    <section class = "contact me" id= "contact">
        <h2 align="center">CONTACT ME</h2>
        <p align="center">estrella</p>
        <form action="/index.html" method = "post" >
            <table align="center">
             <tr>
              <td>
        <tr>
             <td>
            <label for="name">Name</label>
            </td>
        </tr>
        <tr>
            <td>
            <input type="text"="text" id="name" name="user_name" />
            </td>
        </tr>
        <tr>
            <td>
            <label for ="mail">Email Address</label>
            </td>
        </tr>
        <tr>
            <td>
            <input type="email" id="mail" name="user_mail" />
            </td>
        </tr>
        <tr>
            <td>
            <label for="phone">Phone Number</label>
            </td>
        </tr>
        <tr>
            <td>
            <input type="text" id="phone" name="phone_number" />
            </td>
        </tr>
        <tr>
            <td>
            <label for="msg">Message</label>
            </td>
        </tr>
        <tr>
            <td>
            <textarea id="msg" name="user:message"></textarea>
            </td>
        </tr>
        <tr>
            <td>
            <input  type="submit" value = "Send" >
            </td>
        </tr>
              </td>
             </tr>
        </table>
        </form>
    </section>
</main>
<footer>
    <h3 align="left">LOCATION</h3>
    <p align="left">2215 John Daniel Drive <br>
        Clark MO 65243
    </p>
    <h3 align="center">ARROUND THE WEB</h3>
    <p align="center">f G+ t in O</p>
    <h3 align="right">ABOUT FREELANCER</h3>
    <p align="right">Freelance is and open source <br>
    landing page theme created to <b>your free <br>
    personal use.</b>
</p>
<h6 align="center">Copyright © Your Website 2018</h6>
</footer>
</body>
</html>