<!DOCTYPE html>

<html lang="en">
<head>
    <link href="../estilos/styles.css" rel="stylessheet" type="text/css" />
	<meta charset="utf-8"/>
    <meta name="">
	<title>Mercado Liebre</title>
</head>
<body>
    <header class="-cabezera">
        <img src="../images/logo-mercado-liebre.svg"/>
        <p>lugar para poner barra de busqueda</p>
        <ul>
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
        </ul>
        <ul>
            <li>Creá tu cuenta</li>
            <li>Ingresá</li>
            <li>Mis compras</li>
        </ul>
    </header>
    <main>
        <section id="ultima_visita">
        <h2>Basado en tu ultima visita</h2>
            <img src="./images/img-cafetera-moulinex.jpg" />
            <p>$6.770</p>
            <p>40% OFF</p>
            <h3>Cafetera Moulinex</h3>
            <img src="./images/img-macbook-pro-2019.jpg" />
            <p>$230.000</p>
            <p>70% OFF</p>
            <h3>MacBook Pro 2019</h3>
            <img src="./images/img-samsung-galaxy-s10.jpg" />
            <p>$70.500</p>
            <p>10% OFF</p>
            <h3>Samsung Galaxy S10</h3>
            <img src="./images/img-tv-samsung-smart.jpg" />
            <p>$23.200</p>
            <p>5% OFF</p>
            <h3>SmartTv Samsung 43"</h3>
        </section>
        <section id="Ofertas">
            <img src="./images/img-cafetera-moulinex.jpg" />
            <p>$6.770</p>
            <p>40% OFF</p>
            <h3>Cafetera Moulinex</h3>
            <img src="./images/img-macbook-pro-2019.jpg" />
            <p>$230.000</p>
            <p>70% OFF</p>
            <h3>MacBook Pro 2019</h3>
            <img src="./images/img-samsung-galaxy-s10.jpg" />
            <p>$70.500</p>
            <p>10% OFF</p>
            <h3>Samsung Galaxy S10</h3>
            <img src="./images/img-tv-samsung-smart.jpg" />
            <p>$23.200</p>
            <p>5% OFF</p>
            <h3>SmartTv Samsung 43"</h3>
        </section>
        <footer>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin <br>
            interéscon tarjeta o efectivo en puntos de <br>
            pago. ¡Ysiempre es seguro!</p>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre <br>
            tenésenvíos gratis en miles de productos. Es<br>
             unbeneficio de Mercado Puntos</p>
             <h4>Seguridad de principio a fin</h4>
             <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre,<br>
                 nohay nada que no puedas hacer, porque estás<br>
                 siempre protegid@
            </p>
            <p> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

        </footer>
        
    </main>
</body>
